---
title: little website
---

<h1>little_website</h1>
<img src="<%= lorem.image('100x200', :random_color => true) %>">
<p><%= lorem.paragraphs 2 %></p>

built with
<%= link_to(
  "Middleman",
  "https://middlemanapp.com/",
  target: "_blank"
) %>
